<april-header [connected]="(af.auth | async)" (signIn)="login($event)" (signOut)="logout($event)"></april-header>
<div [class.hero]=true>
  <div class="image-holder">
    <!--<img alt="The April" class="hero-image" src="/assets/img/playground-header.jpg">-->
  </div>
  <div class="center-wrapper hero-content">
    <h1 class="hero-title">
      The April
    </h1>
    <p class="hero-subtitle">
      Feed your curiosity and explore the world of Insurance.
    </p>
  </div>
  <div *ngIf="(af.auth | async)" class="cards">
    <april-cards *ngFor="let item of cardData" [title]="item.title" [articles]="item.articles" [cardImage]="item.cardImage"></april-cards>
  </div>
  <div class="log">
    <div *ngIf="!(af.auth | async)">
      <p>Hello, please <span (click)="login()">login</span> to open your wallet</p>
    </div>
  </div>
  <div class="search">
    <form class="search__form" action="">
      <input class="search__input" name="search" type="search" placeholder="Find..." autocomplete="off" autocorrect="off" autocapitalize="off"
        spellcheck="false" />
      <span class="search__info">Hit enter to search or ESC to close</span>
    </form>
    <div class="search__related">
      <div class="search__suggestion">
        <h3>May We Suggest?</h3>
        <p>#drone #funny #catgif #broken #lost #hilarious #good #red #blue #nono #why #yes #yesyes #aliens #green</p>
      </div>
    </div>
  </div>
</div>
