<footer id="FooterMain" class="footer-main">
  <div class="col-wrap">
    <nav class="footer-nav pull-left">
      <ul>
        <li class="google">
          <a href="http://tcs.com" data-g-event="Footer" data-g-action="Click" data-g-label="Google Logo">
            Tata Consultancy Services
          </a>
        </li>
        <li>
          <a href="https://www.tcs.com/privacy-policy" data-g-event="Footer" data-g-action="Click" data-g-label="Privacy">
            Privacy
          </a>
        </li>
        <li>
          <a id="SendFeedback" href="https://www.tcs.com/contact-us" data-g-event="Footer" data-g-action="Click" data-g-label="Send Feedback">
            Contact Us
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>