<div drag-scroll [scrollbar-hidden]="true" class="cards">
  <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
    <div class="settingsCards">
    <p class="heading"></p>
    <p class="line1"></p>
    <p class="line2"></p>
  </div>
</div>