<div [class.search]=true [class.search--open]="openSearch==true">
  <!--<form class="search__form" action="">
    <input class="search__input" name="search" type="search" placeholder="Find..." autocomplete="off" autocorrect="off" autocapitalize="off"
      spellcheck="false" />
    <span class="search__info">Hit enter to search or ESC to close</span>
  </form>
  <div class="search__related">
    <div class="search__suggestion">
      <h3>May We Suggest?</h3>
      <p>#drone #funny #catgif #broken #lost #hilarious #good #red #blue #nono #why #yes #yesyes #aliens #green</p>
    </div>
  </div>-->
  <svg (click)="close()" id="icon-cross" class="btn--search-close" viewBox="0 0 24 24">
    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
  </svg>
  <div class="page">
    <div class="page1">
    </div>
    <div id="cw" [class.hide]="openSearch==false" class="page2">
    </div>
  </div>
</div>
